services:
  backend: 
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: booking_web
    restart: unless-stopped
    volumes:
      - ./:/var/www
    environment:
      APP_ENV: production
      APP_KEY: base64:3h1Nos0AP45NvlBXscwd/FPCzqrmhJekdSYZJN1uSfk=
      APP_DEBUG: false
      APP_URL: https://api.sky-enterprise.id.vn

      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: booking_web_db
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: booking-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: booking_web_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql

  webserver:
    image: nginx:alpine
    container_name: laravel-webserver
    restart: unless-stopped
    ports:
      - "8000:80"
      - "443:443"
    volumes:
      - ./:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  dbdata:
